@import url(header.css);
@import url(utils.css);
/* View Background Image */

img {
    background-position: center;
    background-size: cover;
    height: auto;
    width: calc(100% - 0px);
}

#navige {
    background-color: #526D82;
    height: 500px;
    display: flex;
    width: calc(100% - 0);
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: space-evenly;
    
    
}
#yonlendirici {
    justify-content: space-between;
    margin: 70px;
    padding: 20px;
}
p {
    text-align: center;
}
h3 {
    color: white;
    font-family: sans-serif;
}